<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>404</title>
        <link rel="icon" href="/img/wsymbol_0004_black_low_cloud.webp">
    </head>
    <body>
        {{>header}}
        <h4>{{message}}</h4>
        {{>footer}}
    </body>
</html>