<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <title>About</title>
        <link rel="icon" href="/img/wsymbol_0004_black_low_cloud.webp">
    </head>
    <body>
                {{>header}}

        <h1>This is about page</h1>
        <img src="/img/1024px-Cat_poster_1.jpg">
        <h3>{{name}}</h3>
        <p>{{bio}}</p>
                {{>footer}}

    </body>
</html>