<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/wsymbol_0004_black_low_cloud.webp">
        <title>Help</title>
    </head>
    <body>
        {{>header}}
        <h1>{{message}}</h1>
        {{>footer}}
    </body>
</html>