h1 {
    color: grey;
    font-size: 64;
    margin-bottom: 16px;
}

img {
    width: 250px;
}

body {
    color: #606060;
    font-family: arial;
    max-width: 650;
    margin: 0 auto;
    padding: 0 16;
}

footer{
    color: #888888;
    border-top: 1px solid #eeeeee;
    margin-top: 16;
    padding: 16px 0;
}

header{
    margin-top: 16;
    margin-bottom: 48;
}

header a{
    color: #888888;
    margin-right: 16;
    text-decoration: none;
}

.portrait{
    width: 250;
}